// Flexbox grid variables
$container-width: 1130px;
$container-width-smaller: 100%;
$home-padding: 15px;

$mq-sm: 480px;
$mq-md: 768px;
$mq-lg: 1024px;
$minWidth1200: 1200px;

// Fonts
$title-font: 'ff-good-headline-web-pro-con', sans-serif;
$text-font: 'Roboto', sans-serif;
$custom-icon: 'zpfloorball-icon';

// Color
$color-site: #0c988d;
$text: #333;
$dark-bg: #252525;
$light-text: #686969;
$light-gray: #ebebeb;
$bg-light: #f3f3f3;
$footer-bg-top: #080808;
$footer-bg-bottom: #000;
$color-before-dark: rgba(12,21,28,0.9);
$header-bg: #0C151C;
$clear-color: #fff;
$border-app: #E4E7E8;
$color-fb: #4267b2;
$color-tw: #1da1f2;
$color-vk: #4a76a8;
$blue: #1ba7c4;
$color-you-tube: #ff0002;
$color-instagram: #de2183;
$yellow: #ffc107;
$green: #5cbb29;
$color-first: rgba(134, 202, 45, 1);
$color-second: rgba(241, 117, 49, 1);
$color-third: rgba(244, 150, 48, 1);
//animation

$transition: .25s;
$rotate-minus-top: translateY(-50%);
