.btn-start {
  &.hidden {
    display: none;
  }
}

.game-box {
  height: 0;
  opacity: 0;
  transition: all 0.5s;

  &.open {
    height: auto;
    opacity: 1;
  }
}

.game {
  display: flex;
  width: 604px;
  flex-wrap: wrap;
  border: 2px solid #333;
  margin: auto;
  border-radius: 5px;
}

.cell {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.active {
      background: rgba(0,225,0, 0.4);
  }

  svg {
    &:not(:root) {
      overflow: visible;
    }
  }
}

.circle {
    width: 100%;
    height: 100%;
    padding: 40px;
    stroke-dasharray: 283px;
    stroke-dashoffset: 283px;
    animation: emersion 0.5s forwards;
}

.cross {
  width: 100%;
  height: 100%;
  padding: 40px;

  .first-line,
  .second-line {
    stroke-dashoffset: 140;
    stroke-dasharray: 140;
    animation: emersion 0.5s forwards;
  }

  .second-line { 
    animation: emersion 0.5s 0.6s forwards;
  }
}


.custom-modal {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;

  &.open {
    display: block;
    opacity: 1;
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    transform: translate(-50%, -50%);
    z-index: 4;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
    transition: all 0.4s;
  }

  .substrate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0,0,0, 0.5);;
  }
}

.result {
  font-size: 40px;
  
}

@keyframes emersion {
    100% {
        stroke-dashoffset: 0;
    }
}