@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/animate.css/animate.css";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import 'utils/__utils';
@import 'fonts';
@import 'normalise';

@import 'components/__components';

@import 'layout/__layout';

@import 'scenes/__scenes';

@import 'helpers/__helpers';

// CUSTOM COMPONENTS STYLES
// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }
